# Ignorar la carpeta data
data/
previews/

# Ignorar archivos y carpetas de pycache
__pycache__/
*/__pycache__/
debug_plots/
reports/
PyKinect2/
videos/
.venv/
comparacion_8yang_010/
resultados_8yang_018/
# Ignorar archivos .pyc
*.pyc
*/**/*.pyc