# Ignorar la carpeta data
data/
previews/

# Ignorar archivos y carpetas de pycache
__pycache__/
*/__pycache__/
obs_screenshots/
kinect_test_recordings/
kinect_recordings/
debug_plots/
reports/
PyKinect2/
.vscode/
recordings/
videos/
.venv/
comparacion_8yang_010/
resultados_8yang_018/
# Ignorar archivos .pyc
*.pyc
*/**/*.pyc